* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}


.box {
    width: calc((100%/7) - 30px);
    aspect-ratio: 1 / 1;
    display: inline-block;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    background-color: blue;
}

.fizzbuzz {
    width: calc((100%/7) - 30px);
    aspect-ratio: 1 / 1;
    display: inline-block;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    background-color: lightcoral;
}

.fizz {
    width: calc((100%/7) - 30px);
    aspect-ratio: 1 / 1;
    display: inline-block;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    background-color: yellow;
}

.buzz {
    width: calc((100%/7) - 30px);
    aspect-ratio: 1 / 1;
    display: inline-block;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    background-color: greenyellow;
}

.box > div {
    vertical-align: middle;
}